* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #76b900;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-weight: 800;
  --header-background: #191919;
  background: linear-gradient(to bottom, #272727, #0f0f0f);
}

header {
  background: var(--header-background);
  font-family: "MuseoModerno", cursive;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px #76b900;
  font-size: 1.2rem;
}

main {
  min-height: 90vh;
}

form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  border-radius: 5px 0 0 5px;
  min-width: 25%;
}

form button {
  border-radius: 0 5px 5px 0;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: #f5f5f5;
}

form button {
  color: #76b900;
  background: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: #f5f5f5;
  background: #76b900;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 25rem;
  list-style: none;
}

.todo {
  margin: 1.5rem;
  background: #f5f5f5;
  color: #191919;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.todo:hover {
  transform: translateX(-5px) translateY(-5px);
}

li {
  transition: all 0.3s ease;
}

li span {
  flex: 1;
}

.todo button {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
}

.todo-complete:hover {
  background-color: #228b22;
  color: whitesmoke;
}

.todo-complete {
  color: #228b22;
}

.todo-trash:hover {
  color: whitesmoke;
  background-color: #b11d1d;
}

.todo-trash {
  color: #b11d1d;
}

.todo-imp:hover {
  color: whitesmoke;
  background-color: #ff9900;
}

.todo-imp {
  color: #ff9900;
}

.todo-text {
  padding: 0rem 0.3rem;
  font-size: 1.4rem;
}

.fa-trash,
.fa-check,
.fa-star {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: black;
}

.todo-imp-btn {
  color: whitesmoke;
  background-color: #ff9900 !important;
}

.todo-complete-btn {
  color: whitesmoke;
  background-color: #228b22 !important;
}

.imp {
  box-shadow: 1px 1px 5px #e1e1e1;
}

.fall {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

select {
  width: 10rem;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  background: #f5f5f5;
  color: #76b900;
  font-weight: bold;
}

select option {
  font-weight: bold;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #76b900;
  color: whitesmoke;
  top: 0;
  right: 0;
  padding: 0.8rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  color: #76b900;
  background: #f5f5f5;
}
